.current-location, .celsius-button, .fahrenheit-button{
  margin: 5px auto;
  display: block;
  background: transparent;
  border: 1px solid #052f42;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0px 5px 0px 5px;
  font-size: 18px;
}

.current-location:hover {
  background: #08a9f3;
  color: white;
  cursor: pointer;
}

.celsius-button:hover {
  background: #08a9f3;
  color: white;
  cursor: pointer;
}

.fahrenheit-button:hover {
  background: #08a9f3;
  color: white;
  cursor: pointer;
}

h1 {
  color: #052f42;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  font-family: "Mali", cursive;
  position: relative;
  top: 15px;
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0px;
  margin-left: -30px;
}
.temperature {
  margin-left: 70px;
  font-size: 40px;
}

.weather-temperature img {
  margin-right: 50px;
  height: 64px;
  width: 64px;
  margin-bottom: -55px;
  margin-top: 10px;
}

.feels-like-description {
  text-align: right;
  margin-right: 40px;
  padding: 0px;
  font-size: 14px;
}
