.App .container {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 20px;
  border-radius: 15px;
  margin: 60px auto;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
}

.hr-bar {
  margin: 5px;
}